body{
  font-family: "Helvetica", sans-serif;
  text-align: center;
  background-image: no tile;
}

.banner {
  background-image: url("images/flatiron-building.png");
}

.nav, h1, h4 {
  color: white;
}

.soon.banner {
  color: white;
}

h3.soon {
  background-image: url("images/flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

h5 {
  font-size: 14px;
}
